.manage-container {
  width: 100%;
  height: 100vh;
  background-color: #323e47;
  position: relative;
  z-index: 2000;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #3a556b;
  color: white;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.navbar-container {
  width: 100%;
  padding: 0px 20px;
}

.navbar-container .navbar-logo-searchbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.logo-container img {
  width: 45px;
  margin-right: 9px;
}

.logo-container span {
  font-size: 14px;
  font-weight: 800;
}

.logo-container i {
  margin-left: 7px;
  cursor: pointer;
}

.searchbar-container {
  width: 45%;
  display: flex;
  align-items: center;
}

.searchbar-container .all-btn {
  width: 70px;
  height: 25px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(164, 163, 163);
  border-radius: 3px;
  padding: 0px 4px;
  color: rgba(225, 225, 226, 0.927);
  margin-right: 3px;
}

.all-btn select {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgba(225, 225, 226, 0.927);
  cursor: pointer;
}

.searchbar-container input {
  width: 350px;
  height: 25px;
  font-size: 13px;
  border: 1px solid rgb(164, 163, 163);
  border-radius: 3px;
  padding: 0px 4px;
  background-color: transparent;
  font-style: italic;
  outline: none;
  color: rgba(225, 225, 226, 0.927);
  margin-right: 5px;
}

.searchbar-container i {
  font-size: 13px;
  color: rgba(225, 225, 226, 0.927);
}

.noti-profile-container {
  display: flex;
  align-items: center;
}

.noti-profile-container i {
  font-size: 15px;
  margin-left: 15px;
  color: rgba(225, 225, 226, 0.927);
  cursor: pointer;
}

.user-icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* for body */
.manage-body-container {
  width: 100%;
  height: auto;
  padding: 20px 35px;
  margin-top: 80px;
}

.blue-font-color {
  color: rgb(104, 152, 197);
}

.header-filter-container {
  width: 100%;
  height: auto;
  padding: 30px 0px;
}

.header-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .header {
  font-size: 15px;
  font-weight: 600;
}

.header-container .btn-container {
  width: 45%;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}

.btn-container .btn {
  border: 1px solid rgb(104, 152, 197);
  font-size: 12px;
  margin-right: 8px;
}

.btn-container .btn:hover {
  background-color: rgb(104, 152, 197);
  color: black;
}

.btn-container i {
  font-size: 15px;
  cursor: pointer;
}

/* for filter */
.filter-design-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.filter-design-container .input-container {
  width: 88%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.input-container .input-style {
  width: 210px;
  height: auto;
}

.input-container .input-style .text {
  font-size: 12px;
  color: rgba(225, 225, 226, 0.927);
}

.input-container .input-style .input {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-container .input-style input {
  width: 100%;
  height: 30px;
  padding: 2px 8px;
  font-size: 12px;
  color: rgba(225, 225, 226, 0.927);
  background-color: transparent;
  outline: none;
  border: 1px solid #6b6a6ad2;
  border-radius: 4px;
}

.input-container .input-style i {
  position: absolute;
  right: 10px;
  font-size: 14px;
  color: rgb(104, 152, 197);
  cursor: pointer;
}

.filter-design-container .filter-btn-container {
  width: 10%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-btn-container .go-btn {
  width: 40px;
  border: none;
  background-color: rgb(49, 111, 168);
  color: white;
  font-size: 13px;
  cursor: pointer;
}

.filter-btn-container .adapt-btn {
  width: 100px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
}

/* for popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-box {
  background: #313e47;
  border-radius: 8px;
  border: 1px solid rgb(123, 123, 123);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
}

.popup-header {
  width: 100%;
  height: 45px;
  background-color: #262c30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-shadow: 0.8 5 2 rgb(135, 134, 134);
}

.popup-header h3 {
  font-size: 16px;
  font-weight: 600;
  color: rgb(226, 224, 224);
  margin: 0;
}


.reset-btn {
  font-size: 14px;
  background: transparent;
  border: none;
  outline: none;
  color: #507d9d;
}

.popup-body {
  /* padding: 18px; */
  background-color: #181d21;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* thead th{
  padding: 18px;
} */

th {
  font-size: 15px;
  color: rgb(226, 224, 224);
  text-align: left;
  padding: 8px;
}

td {
  font-size: 13px;
  color: rgba(226, 224, 224, 0.871);
  border-bottom: 1px solid #234c69da;
  text-align: left;
  padding:8px 18px;
}

tr.checked{
  background-color: #2B3C4B;
}

td input[type="checkbox"] {
  accent-color: #406178;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.popup-footer {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 16px;
}

.popup-footer button {
  width: 50px;
  height: 30px;
  margin-left: 8px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ok-btn {
  font-size: 13px;
  background: #007bff;
  color: #fff;
  font-weight: bold;
}

.cancel-btn {
  font-size: 13px;
  background: transparent;
  color: #247ab8;
}

/* for listview */
.journal-list-container {
  width: 100%;
  height: 70vh;
  background-color: #181d21;
  padding: 20px 35px;
}

.journal-list-container .list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-header .front-header {
  height: 30px;
  display: flex;
  align-items: center;
}

.front-header .jorunal-text {
  font-size: 18px;
  color: #e0e0e0;
  margin-right: 10px;
}

.front-header .divider {
  width: 2px;
  height: 100%;
  background-color: #323e47;
  margin-right: 10px;
}

.back-btn {
  display: flex;
  align-items: center;
}

.back-btn span {
  font-size: 14px;
  color: #247ab8;
  margin-right: 30px;
  cursor: pointer;
}

.back-btn button {
  background-color: transparent;
  border: none;
  outline: none;
}

.back-btn button i {
  color: #247ab8;
}

.table-container {
  margin: 20px 0px;
  border: 1px solid #406178;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Table styles */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: left;
}

.custom-table thead {
  background-color: #181d21;
  color: #e0e0e0;
}

.custom-table tbody {
  background-color: #2b3d4b;
}

.custom-table th,
.custom-table td {
  font-size: 13px;
  padding: 10px;
  border-bottom: 1px solid #406178;
}

.custom-table input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* for createform */
.create-form-container {
  width: 100%;
  height: 80vh;
  background-color: #181d21;
  position: fixed;
  top: 80px;
  z-index: 2000;
}

.create-header {
  width: 100%;
  height: 50px;
  background-color: #2b3d4b;
  padding: 0px 35px;
  display: flex;
  align-items: center;
}

.create-header h5 {
  font-size: 17px;
  color: #dbdede;
  font-weight: 700;
}

.create-form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 20px 35px;
}

.create-form .create-input-container {
  width: 350px;
  display: flex;
  margin-bottom: 10px;
}

.create-input-container label {
  width: 130px;
  font-size: 13px;
  color: #cac8c8e2;
  margin-right: 3px;
}

.create-form .create-input {
  width: 250px;
  height: 30px;
  background-color: #323e47;
  color: #cac8c8e2;
  border: 1px solid #406178;
  border-radius: 3px;
  outline: none;
  padding: 0px 6px;
}

.create-form-container .post-conrtainer {
  width: 100%;
  height: 60px;
  background-color: #2b3c4b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 35px;
  position: fixed;
  bottom: 0;
}

.post-conrtainer .post-btn {
  width: 55px;
  height: 35px;
  font-size: 13px;
  font-weight: 600;
  color: #e0e0e0;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

.post-conrtainer .btn {
  color: #8e8f8f;
  margin-right: 10px;
}

.post-conrtainer .post-btn:hover {
  background-color: #154577;
}
