<div class="manage-container">
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo-searchbar">
        <div class="logo-container">
          <span routerLink="/home"><i class="fa-solid fa-angle-left"></i></span>
          <img src="/assets/logo/SAP_logo.png" alt="logo" class="ms-4" />
          <span
            >Manage Journal Entries<i class="fa-solid fa-angle-down"></i
          ></span>
        </div>
        <div class="searchbar-container">
          <div class="all-btn">
            <select id="optionsDropdown" [(ngModel)]="defOption">
              <option *ngFor="let option of options" [value]="option">
                {{ option }}
              </option>
            </select>
          </div>
          <div class="searchbar"></div>
          <input type="text" class="search-icon" placeholder="Search" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="noti-profile-container">
          <i class="fa-regular fa-circle-question"> </i>

          <i class="fa-regular fa-bell"></i>
          <div class="user-icon-container">
            <i class="fa-regular fa-circle-user"></i>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- for body -->
  <div class="manage-body-container">
    <div class="header-filter-container">
      <div class="header-container">
        <div class="header blue-font-color">
          Standard<i class="fa-solid fa-angle-down ms-2"></i>
        </div>
        <div class="btn-container">
          <button class="btn blue-font-color">Verify Journal Enteries</button>
          <button class="btn blue-font-color">Display Change Log</button>
          <button class="btn blue-font-color">View Reversal Logs</button>
          <i class="blue-font-color fa-regular fa-share-from-square"></i>
          <i class="blue-font-color fa-solid fa-angle-down ms-2"></i>
        </div>
      </div>

      <!-- for filter -->
      <div class="filter-design-container">
        <div class="input-container">
          <div class="input-style" *ngFor="let document of defInput">
            <div class="text text-white">{{ document.text }}</div>
            <div class="input">
              <input [type]="document.type" />
              <i [class]="document.icon"></i>
            </div>
          </div>
        </div>
        <div class="filter-btn-container">
          <button class="go-btn">Go</button>
          <button class="adapt-btn blue-font-color" (click)="openPopup()">
            Adapt Filters
          </button>
        </div>
      </div>
    </div>

    <!-- for popup overlay -->
    <div *ngIf="showPopup" class="popup-overlay">
      <div class="popup-box">
        <div class="popup-header">
          <h3>Adapt Filters</h3>
          <button class="reset-btn" (click)="resetFilters()">Reset</button>
        </div>
        <div class="popup-body">
          <table>
            <thead>
              <tr>
                <th>Field</th>
                <th>Active</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of documentData">
                <td>{{ item.text }}</td>
                <td>
                  <input
                    type="checkbox"
                    [checked]="item.isCheck"
                    (change)="toggleCheck(item)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="popup-footer">
          <button class="ok-btn" (click)="applyFilters()">OK</button>
          <button class="cancel-btn" (click)="closePopup()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- for listview -->
  <div class="journal-list-container">
    <div class="list-header">
      <div class="front-header">
        <div class="jorunal-text">Journal Entries</div>
        <div class="divider"></div>
        <div class="header blue-font-color">
          Standard<i class="fa-solid fa-angle-down ms-2"></i>
        </div>
      </div>
      <div class="back-btn">
        <span (click)="openCreateform()">Create</span>
        <button (click)="openListview()">
          <i class="fa-solid fa-gear"></i>
        </button>
      </div>
    </div>

    <div class="table-container">
      <table class="custom-table">
        <thead>
          <tr>
            <th><input type="checkbox" /></th>
            <ng-container *ngFor="let listTit of listTitle">
              <th *ngIf="listTit.isCheck">
                {{ listTit.title }}
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of selectList; let i = index">
            <td><input type="checkbox" /></td>
            <ng-container *ngFor="let listTit of listTitle">
              <td *ngIf="listTit.isCheck">
                {{ list[listTit.key].text }}
              </td>
            </ng-container>
            <td>
              <i class="fa-solid fa-trash" (click)="deleteData(i)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="showListview" class="popup-overlay">
      <div class="popup-box">
        <div class="popup-header">
          <h3>View Setting</h3>
          <button class="reset-btn" (click)="resetListview()">Reset</button>
        </div>
        <div class="popup-body">
          <table>
            <thead>
              <tr>
                <th>Field</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listData">
                <td>{{ item.title }}</td>
                <td>
                  <input
                    type="checkbox"
                    [checked]="item.isCheck"
                    (change)="listCheck(item)"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="popup-footer">
          <button class="ok-btn" (click)="addListview()">OK</button>
          <button class="cancel-btn" (click)="closeListview()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- for createForm -->
  <div class="create-form-container" *ngIf="showCreateform">
    <div class="create-header">
      <h5>Header</h5>
    </div>

    <div class="create-form">
      <div
        class="create-input-container"
        *ngFor="let header of listData; let i = index"
      >
        <label>{{ header.title }}</label>
        <input
          [type]="header.type"
          class="create-input"
          [(ngModel)]="formData[header.key]"
        />
      </div>
    </div>

    <div class="post-conrtainer">
      <button class="btn" (click)="closeCreateform()">Cancel</button>
      <button class="post-btn" (click)="postData()">POST</button>
    </div>
  </div>
</div>
