<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo-searchbar">
      <div class="logo-container">
        <img src="/assets/logo/SAP_logo.png" alt="logo" />
        <span>Home<i class="fa-solid fa-chevron-down"></i></span>
      </div>
      <div class="searchbar-container">
        <div class="all-btn">
          <select id="optionsDropdown" [(ngModel)]="defOption">
            <option *ngFor="let option of options" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>
        <div class="searchbar">
          <input
            #searchInput
            type="text"
            class="search-icon"
            placeholder="Search"
            (input)="searchMenu(searchInput.value)"
          />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <ul>
          <li *ngFor="let item of filteredMenuItems">
            <i class="{{ item.icon }}"></i>
            <a [href]="item.route">{{ item.name }}</a>
          </li>
        </ul>
      </div>
      <div class="noti-profile-container">
        <i class="fa-regular fa-circle-question" (click)="toggleQuestion()">
        </i>

        <i class="fa-regular fa-bell"></i>
        <div class="user-icon-container">
          <!-- User Icon -->
          <span (click)="toggleLoginForm()">
            <i class="fa-regular fa-circle-user"></i>
          </span>

          <!-- User Form -->

          <div class="login-form" *ngIf="showLoginForm">
            <div class="profile-name">User</div>

            <div class="profile-menu-container" *ngFor="let profile of profile">
              <div class="profile-menu" [routerLink]="profile.route">
                <i [class]="profile.icon"></i>
                <span>{{ profile.text }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar-items">
    <ul>
      <i
        class="fa fa-bars hamburger_icon pinbar-icon"
        (click)="togglePinbar()"
      ></i>
      <li
        (click)="setActive('home')"
        [ngClass]="{ active: activeItem === 'home' }"
        [routerLink]="'/home'"
      >
        <a> My Home</a>
      </li>
      <div class="divider"></div>
      <li
        *ngFor="let item of pinMenuItems"
        [ngClass]="{ active: activeItem === item.key }"
        (click)="setActive(item.key)"
        [routerLink]="item.route"
      >
        <a>
          {{ item.name }}
          <i
            *ngIf="item.icon"
            class="fa-solid"
            [ngClass]="item.icon"
            (click)="toggleCategory()"
          ></i>
        </a>
      </li>

      <div class="navbar-back">
        <span
          [ngClass]="{ active: activeItem === 'more' }"
          (click)="setActive('more')"
          >More<i class="fa-solid fa-chevron-down"></i
        ></span>
      </div>
    </ul>
  </div>

  <i
    class="fa fa-times close_icon"
    (click)="toggleSidebar()"
    *ngIf="isSidebarOpen"
  ></i>

  <i
    class="fa fa-bars hamburger_icon sidebar-icon"
    (click)="toggleSidebar()"
    *ngIf="!isSidebarOpen"
  ></i>
</nav>

<!-- for pinbar -->
<div class="pinbar" [class.open]="isPinbarOpen">
  <ul>
    <li *ngFor="let item of menu">
      <a
        [ngClass]="{ active: activeItem === item.key }"
        (click)="setActive(item.key)"
        [routerLink]="item.route"
      >
        {{ item.name }}
      </a>
      <span (click)="pinMenu(item)" *ngIf="item.isPin">
        <i class="fa-solid fa-thumbtack"></i>
      </span>
      <span (click)="pinMenu(item)" *ngIf="!item.isPin">
        <i class="fa-solid fa-thumbtack-slash"></i>
      </span>
    </li>
  </ul>
</div>

<!-- for questionbar -->
<div class="questionbar" [class.open]="isQuestion">
  <div class="question-header">
    <h4 class="color-grey">Help Topics</h4>
    <button class="btn color-grey">Search Help Topics</button>
    <button class="btn color-grey">SAP Community</button>
    <button class="btn color-grey">Quick Tour</button>
  </div>

  <div class="questions" *ngFor="let qus of question">
    <a href="#" class="color-grey">{{ qus }}</a>
  </div>
</div>

<!-- for sidebar menu -->
<div class="sidebar" [class.open]="isSidebarOpen">
  <span
    class="menu_style explore hidden-explore"
    (click)="setActive('home')"
    [ngClass]="{ active: activeItem === 'home' }"
    [routerLink]="'/home'"
    >My Home</span
  >
  <div
    class="sidebar-menu"
    *ngFor="let item of menu"
    [ngClass]="{ active: activeItem === item.key }"
    (click)="setActive(item.key)"
    [routerLink]="item.route"
  >
    <a class="sidebar_item"> {{ item.name }}</a>
  </div>

  <span class="menu_style explore hidden-explore">More</span>
</div>

<!-- for category -->
<div class="category-container" [class.open]="isCategoryOpen">
  <div class="category" *ngFor="let category of categorys">
    <a>{{ category }}</a>
  </div>
</div>
