<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo-searchbar">
      <div class="logo-container">
        <img src="/assets/logo/SAP_logo.png" alt="logo" />
        <span>Home<i class="fa-solid fa-chevron-down"></i></span>
      </div>
      <div class="searchbar-container">
        <div class="all-btn">All <i class="fa-solid fa-chevron-down"></i></div>
        <div class="searchbar"></div>
        <input type="text" class="search-icon" placeholder="Search" />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="noti-profile-container">
        <i class="fa-regular fa-circle-question"></i>
        <i class="fa-regular fa-bell"></i>
        <i class="fa-regular fa-circle-user"></i>
      </div>
    </div>
  </div>

  <div class="navbar-items">
    <ul>
      <li
        *ngFor="let item of menu"
        [ngClass]="{ active: activeItem === item.key }"
        (click)="setActive(item.key)"
        [routerLink]="item.route"
      >
        <a>
          {{ item.name }}
          <i *ngIf="item.icon" class="fa-solid" [ngClass]="item.icon"></i>
        </a>
      </li>
    </ul>

    <div class="navbar-back">
      <span
        [ngClass]="{ active: activeItem === 'more' }"
        (click)="setActive('more')"
        >More<i class="fa-solid fa-chevron-down"></i
      ></span>
    </div>
  </div>
</nav>
