<div class="app-activities-container">
  <div class="header">
    <h6>Apps and Activities</h6>
    <div class="back-header">
      <a href="#">Inport Apps Now</a>
      <a href="#">Add Apps</a>
    </div>
  </div>
  <div class="category-links">
    <span
      *ngFor="
        let category of ['Favorites', 'Recent Activities', 'Frequently Used']
      "
      [class.active]="selectedCategory === category"
      (click)="selectCategory(category)"
      >{{ category }}</span
    >
  </div>

  <div class="apps-container">
    <div
      class="app-items"
      *ngFor="let app of apps"
      [class.hidden]="app.category !== selectedCategory"
    >
      <img [src]="app.imgPath" [alt]="app.name" class="app-image" />
      <div class="name">{{ app.name }}</div>
      <a href="#" class="three-spot">⚬⚬⚬ </a>
    </div>
  </div>
</div>
