<div class="export-screen-container">
  <div class="define-container">
    <h5>Define Scope</h5>
    <div class="radio-input">
      <label>
        <input type="radio" value="Select Specific Fields" />
        Select Specific Fields
      </label>
      <div class="input-container">
        <input type="text" />
      </div>
    </div>

    <div class="radio-input">
      <label>
        <input type="radio" value="Select Specific Fields" />
        Select Tables
      </label>
      <div class="input-container">
        <input type="text" />
      </div>
    </div>

    <div class="radio-input">
      <label>
        <input type="radio" value="Select Specific Fields" />
        Select All Fields From All Tables
      </label>
      <div class="input-container">
        <input type="checkbox" /> <label> Including Longs Text Fields</label>
      </div>
    </div>
  </div>
  <div class="select-container"></div>
  <div class="file-container"></div>
</div>
