<div class="grid-container">
  <div class="header">
    <h6>Insights</h6>
  </div>

  <div class="category-links">
    <span>Tiles (5)</span>
    <div class="back-header">
      <a href="#">Edit</a>
    </div>
  </div>

  <div class="items-box-container">
    <div class="box-style">
      <h4>Projected On-Hand Alerts</h4>
      <p>Stockout</p>
      <h3>0</h3>
      <p>Buffers</p>
    </div>
    <div class="box-style2">
      <h4>Sales Order Items</h4>
      <p>Confirmed as Reque...</p>
      <div class="percent">
        <span>24/2023</span>
        <span>66.7%</span>
      </div>
      <div class="progress-bar">
        <div class="fill bg-green"></div>
      </div>

      <div class="percent">
        <span>23/2023</span>
        <span>100%</span>
      </div>
      <div class="progress-bar2">
        <div class="fill bg-green"></div>
      </div>

      <div class="percent">
        <span>18/2023</span>
        <span>0%%</span>
      </div>
      <div class="progress-bar3">
        <div class="fill"></div>
      </div>
      <a href="#"><i class="fa-solid fa-arrow-rotate-right"></i>20 min. ago</a>
    </div>

    <div class="box-style2">
      <h4>Sales Order Items</h4>
      <p>Backorders</p>

      <div class="percent">
        <span>Delayed (No. Of) </span>
        <span>2</span>
      </div>
      <div class="progress-bar2">
        <div class="fill bg-grey"></div>
      </div>
      <div class="percent">
        <span>Partially</span>
        <span>1</span>
      </div>
      <div class="progress-bar">
        <div class="fill bg-orange"></div>
      </div>
      <a href="#"><i class="fa-solid fa-arrow-rotate-right"></i>20 min. ago</a>
    </div>

    <div class="box-style2">
      <h4>Sales Order Fulfillment</h4>
      <p>Analyze and Resolve</p>
      <div class="percent">
        <span>Delivery Issue </span>
        <span>5</span>
      </div>
      <div class="progress-bar2">
        <div class="fill bg-grey"></div>
      </div>
      <div class="percent">
        <span>Delayed (No. Of) </span>
        <span>2</span>
      </div>
      <div class="progress-bar2">
        <div class="fill bg-grey"></div>
      </div>
      <div class="percent">
        <span>Delayed (No. Of) </span>
        <span>2</span>
      </div>
      <div class="progress-bar2">
        <div class="fill bg-grey"></div>
      </div>
      <a href="#"><i class="fa-solid fa-arrow-rotate-right"></i>20 min. ago</a>
    </div>
    <div class="box-style2">
      <h4>Evaluate Capacity</h4>
      <a href="#"><i class="fa-solid fa-arrow-rotate-right"></i>20 min. ago</a>
    </div>
  </div>

  <!-- for chart box -->
  <div class="category-links">
    <span>Cards (6)</span>
    <div class="back-header">
      <a href="#">Edit</a>
      <a href="#"><i class="fa-solid fa-expand ms-4"></i></a>
    </div>
  </div>

  <div class="dashboard-grid">
    <!-- Card 1 -->
    <div class="dashboard-card">
      <h3>Profit Margin</h3>
      <p>By Month</p>
      <h1>72.8%</h1>
      <div>
        <canvas id="chart1"></canvas>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="dashboard-card">
      <h3>More than 100 Days without Consumption</h3>
      <p>Total value: USD</p>
      <h1>1.51K</h1>
      <div>
        <canvas id="chart2"></canvas>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="dashboard-card">
      <h3>Purchasing Spend</h3>
      <p>Purchasing Spend Trend</p>
      <div>
        <canvas id="chart3"></canvas>
      </div>
    </div>
  </div>

  <!-- for Dos -->
  <div class="dos-links">
    <div class="title">
      <span>To Dos</span>
      <a href=""><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
    <div class="dos-category">
      <span
        *ngFor="let category of ['Tesk', 'Situation']"
        [class.active]="categoryDef === category"
        (click)="activeDos(category)"
      >
        {{ category }}
      </span>
    </div>
  </div>
  <div class="dos-box-container">
    <div
      class="dos-box-style"
      *ngFor="let dos of dos"
      [class.hidden]="dos.category !== categoryDef"
    >
      <span class="header">
        <i [class]="dos.icon"></i>
        <span>{{ dos.header }}</span>
      </span>
      <p>
        {{ dos.description }}
      </p>
      <p class="time">
        {{ dos.time }}
      </p>
    </div>
  </div>
</div>
