<div class="grid-container">
  <div class="header">
    <h6>Insights</h6>
  </div>

  <div class="category-links">
    <span>Tiles (5)</span>
    <div class="back-header">
      <a href="#">Edit</a>
    </div>
  </div>

  <div class="items-box-container">
    <div class="box-style">
      <h4>Projected On-Hand Alerts</h4>
      <p>Stockout</p>
      <h3>0</h3>
      <p>Buffers</p>
    </div>
    <div class="box-style2">
      <h4>Sales Order Items</h4>
      <p>Confirmed as Reque...</p>
      <div class="percent">
        <span>24/2023</span>
        <span>66.7%</span>
      </div>
      <div class="progress-bar">
        <div class="fill bg-green"></div>
      </div>

      <div class="percent">
        <span>23/2023</span>
        <span>100%</span>
      </div>
      <div class="progress-bar2">
        <div class="fill bg-green"></div>
      </div>

      <div class="percent">
        <span>18/2023</span>
        <span>0%%</span>
      </div>
      <div class="progress-bar3">
        <div class="fill"></div>
      </div>
      <a href="#"><i class="fa-solid fa-arrow-rotate-right"></i>20 min. ago</a>
    </div>

    <div class="box-style2">
      <h4>Sales Order Items</h4>
      <p>Backorders</p>

      <div class="percent">
        <span>Delayed (No. Of) </span>
        <span>2</span>
      </div>
      <div class="progress-bar2">
        <div class="fill bg-grey"></div>
      </div>
      <div class="percent">
        <span>Partially</span>
        <span>1</span>
      </div>
      <div class="progress-bar">
        <div class="fill bg-orange"></div>
      </div>
      <a href="#"><i class="fa-solid fa-arrow-rotate-right"></i>20 min. ago</a>
    </div>

    <div class="box-style2">
      <h4>Sales Order Fulfillment</h4>
      <p>Analyze and Resolve</p>
      <div class="percent">
        <span>Delivery Issue </span>
        <span>5</span>
      </div>
      <div class="progress-bar2">
        <div class="fill bg-grey"></div>
      </div>
      <div class="percent">
        <span>Delayed (No. Of) </span>
        <span>2</span>
      </div>
      <div class="progress-bar2">
        <div class="fill bg-grey"></div>
      </div>
      <div class="percent">
        <span>Delayed (No. Of) </span>
        <span>2</span>
      </div>
      <div class="progress-bar2">
        <div class="fill bg-grey"></div>
      </div>
      <a href="#"><i class="fa-solid fa-arrow-rotate-right"></i>20 min. ago</a>
    </div>
    <div class="box-style">
      <h4>Evaluate Capacity</h4>
      <a href="#"><i class="fa-solid fa-arrow-rotate-right"></i>20 min. ago</a>
    </div>
  </div>
</div>
