<div class="master-data-business">
  <div class="card-container">
    <h5>Master Data Maintenance</h5>
    <div class="card-display">
      <div class="card-style" *ngFor="let data of data; let i = index">
        <div class="des">{{ data.description }}</div>
        <div class="icon-container">
          <i [class]="data.icon"></i>
          <button (click)="deleteData(i)">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <h5>Mass Maintenance</h5>
    <div class="card-display">
      <div
        class="card-style"
        *ngFor="let mass of mass; let i = index"
        [routerLink]="mass.route"
      >
        <div class="des">
          {{ mass.header }} <span>{{ mass.description }}</span>
        </div>
        <div class="icon-container">
          <i [class]="mass.icon"></i>
          <button (click)="deleteMass(i)">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <h5>Mass Load</h5>
    <div class="card-display">
      <div class="card-style" *ngFor="let ml of massLoads; let i = index">
        <div class="des">
          {{ ml.header }} <span>{{ ml.description }}</span>
        </div>
        <div class="icon-container">
          <i [class]="ml.icon"></i>
          <button (click)="deleteMassload(i)">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <h5>Data Quality Remediation</h5>
    <div class="card-display">
      <div class="card-style" *ngFor="let dq of dq; let i = index">
        <div class="des">
          {{ dq.header }} <span>{{ dq.description }}</span>
        </div>
        <div class="icon-container">
          <i [class]="dq.icon"></i>
          <button (click)="deletedq(i)">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
